<!DOCTYPE html>
<html>
  <head>
    <title>WasteExemptionsEngine</title>

    <%= stylesheet_link_tag    "waste_exemptions_engine/application", media: "all" %>
    <%= javascript_include_tag "waste_exemptions_engine/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
