<tr class="govuk-table__row">
  <th class="govuk-table__header" scope="row"><%=t ".registration_details.waste_operations_details.grid_reference" %></th>
  <td class="govuk-table__cell"> <%= address.grid_reference %> </td>
</tr>
<tr class="govuk-table__row">
  <th class="govuk-table__header" scope="row"><%=t ".registration_details.waste_operations_details.site_details" %></th>
  <td class="govuk-table__cell"> <%= address.description %> </td>
</tr>
