<%= render("waste_exemptions_engine/shared/back", token: @multisite_site_postcode_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "waste_exemptions_engine/shared/site_postcode_form",
        form_object: @multisite_site_postcode_form,
        grid_reference_link: new_multisite_site_grid_reference_form_path(@multisite_site_postcode_form.token),
        i18n_scope: "waste_exemptions_engine.multisite_site_postcode_forms.new" %>
  </div>
</div>
