<li class="govuk-pagination__item<%= ' govuk-pagination__item--current' if page.current? %>">
  <% if page.current? %>
    <span class="govuk-pagination__link" aria-current="page" aria-label="Page <%= page %>">
      <%= page %>
    </span>
  <% else %>
    <%= link_to page, url, remote: remote, class: "govuk-link govuk-pagination__link", "aria-label": "Go to page #{page}" %>
  <% end %>
</li>
