<%= render("waste_exemptions_engine/shared/back", token: @site_address_lookup_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "waste_exemptions_engine/shared/site_address_lookup_form",
        form_object: @site_address_lookup_form,
        address_field: :site_address,
        field_prefix: "site-address-lookup-site",
        grid_reference_link: site_grid_reference_forms_path(@site_address_lookup_form.token),
        i18n_scope: "waste_exemptions_engine.site_address_lookup_forms.new" %>
  </div>
</div>
