---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/09360070
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '592'
      X-Ratelimit-Reset:
      - '1576490002'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"type":"ltd","company_name":"0800 WASTE LTD.","has_insolvency_history":false,"accounts":{"accounting_reference_date":{"month":"12","day":"31"},"last_accounts":{"made_up_to":"2018-12-31","period_start_on":"2018-01-01","period_end_on":"2018-12-31"},"next_due":"2020-09-30","next_accounts":{"period_start_on":"2019-01-01","period_end_on":"2019-12-31","due_on":"2020-09-30","overdue":false},"next_made_up_to":"2019-12-31","overdue":false},"undeliverable_registered_office_address":false,"etag":"b2cacfcd5399fb7065ce1c074df1567771c68f9d","company_number":"09360070","registered_office_address":{"locality":"Sutton","postal_code":"SM3
        9ND","region":"Surrey","address_line_1":"21 Haslam Avenue"},"jurisdiction":"england-wales","date_of_creation":"2014-12-18","company_status":"active","has_charges":false,"sic_codes":["38110"],"last_full_members_list_date":"2015-12-18","confirmation_statement":{"next_due":"2020-02-06","overdue":false,"next_made_up_to":"2020-01-23","last_made_up_to":"2019-01-23"},"links":{"self":"/company/09360070","filing_history":"/company/09360070/filing-history","officers":"/company/09360070/officers","persons_with_significant_control":"/company/09360070/persons-with-significant-control"},"registered_office_is_in_dispute":false,"can_file":true}'
  recorded_at: Mon, 16 Dec 2019 09:52:50 GMT
recorded_with: VCR 5.0.0
