---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"norris.beatty@example.org","template_id":"8fcf5d04-944f-4cd1-b261-962fedd3859f","personalisation":{"reference":"TEST"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 8ad504d2-b99a-4821-4de6-23c78c93c2f9
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Registration complete\r\n\r\nThe registration
        number is TEST\r\n\r\nThis is not a permit.\r\n\r\n# Responsibilities\r\n\r\nThe
        business or organisation responsible for carrying out the exempt waste operations
        agrees to:\r\n\r\n* comply with all limits on waste types and quantities\r\n*
        comply with all conditions governing how waste must be stored, handled and
        treated\r\n* carry out the operations without endangering human health or
        harming the environment\r\n\r\nFor the operations to remain exempt they must
        be carried out without:\r\n\r\n* causing risk to water, air, soil, plants
        or animals\r\n* causing a nuisance through noise and odours\r\n* negatively
        affecting the countryside or places of special interest\r\n\r\nIn sensitive
        locations extra controls may be needed over and above those set out in the
        exemptions to make sure this happens.\r\n\r\nIf you have enquiries please
        contact the Environment Agency helpline: 03708 506506.\r\n\r\n---\r\n\r\nHow
        we use your personal information:\r\nhttps://wasteexemptions.service.gov.uk/pages/privacy\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","subject":"Waste
        exemptions registration TEST completed"},"id":"8e6ea3ba-ca67-415a-8b0b-00d8c6a029d2","reference":null,"scheduled_for":null,"template":{"id":"8fcf5d04-944f-4cd1-b261-962fedd3859f","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/8fcf5d04-944f-4cd1-b261-962fedd3859f","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/8e6ea3ba-ca67-415a-8b0b-00d8c6a029d2"}

'
  recorded_at: Fri, 28 Aug 2020 11:57:51 GMT
recorded_with: VCR 6.0.0
