---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"curtis_schaden@example.net","template_id":"aea54f90-d36c-4fe7-a589-062446e549ca","personalisation":{"reference":"WEX0123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 7aab4d64-a345-437e-6780-cf867bdc44cf
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Deregistration complete\r\n\r\nYour registration
        WEX0123456 is now inactive\r\n\r\nThis registration is now inactive and will
        be removed from the public register.\r\n\r\nIf you have enquiries please contact
        the Environment Agency helpline: 03708 506506.\r\n\r\nHow we use your personal
        information:\r\nhttps://wasteexemptions.service.gov.uk/pages/privacy\r\nThis
        is an automated email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","subject":"Waste
        exemptions \u2013 deregistration complete confirmation"},"id":"4523fad9-1985-4cb1-a3dd-ca80960bea3b","reference":null,"scheduled_for":null,"template":{"id":"aea54f90-d36c-4fe7-a589-062446e549ca","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/aea54f90-d36c-4fe7-a589-062446e549ca","version":4},"uri":"https://api.notifications.service.gov.uk/v2/notifications/4523fad9-1985-4cb1-a3dd-ca80960bea3b"}

        '
  recorded_at: Fri, 10 Feb 2023 17:47:39 GMT
recorded_with: VCR 6.1.0
