---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"b614d958-8e85-4168-8e20-6f924dc47dff","personalisation":{"reference":"WEX000001","first_name":"John","last_name":"Doe","account_number":"10014411","sort_code":"60-70-80","payment_due":"0.00","iban":"IBAN:
        GB23 NWBK 607080 10014411","swiftbic":"SWIFT/BIC: NWBK GB2L","currency":"Sterling","reg_identifier":"WEX000001","address_line_1":"John
        Doe","address_line_2":"123","address_line_3":"Test Street","address_line_4":"Test
        Locality","address_line_5":"Test City","address_line_6":"BS1 1AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear John Doe\r\n\r\n#You need to pay for your
        waste exemption registration and then email us to confirm payment\r\nWe cannot
        register you until your payment clears.\r\n\r\n#Pay by bank transfer (Bacs)
        with these details\r\n\r\nSort code 60-70-80\r\nAccount number 10014411\r\nPayment
        reference WEX000001\r\nPayment due \u00a30.00\r\n\r\n#Overseas payments\r\n\r\nIBAN:
        IBAN: GB23 NWBK 607080 10014411\r\nSWIFTBIC: SWIFT/BIC: NWBK GB2L\r\nCurrency:
        Sterling\r\n\r\n#Email us your registration WEX000001 to confirm you\u2019ve
        paid\r\n\r\nEmail us at ea_fsc_ar@gov.sscl.com\r\n\r\nWhen you email us, include
        the date you paid, the amount and the payment reference WEX000001.\r\n\r\nAllow
        5 working days for your payment to reach us.\r\n\r\n#Need help to renew?\r\nCall
        us on 03708 506 506 (Monday to Friday, 8am to 6pm). \r\nYour waste exemption
        registration number is WEX000001.","subject":"Payment needed for waste exemption
        registration WEX000001"},"id":"b6c572fa-7c69-401f-860d-486b575cdb90","reference":null,"scheduled_for":null,"template":{"id":"b614d958-8e85-4168-8e20-6f924dc47dff","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/b614d958-8e85-4168-8e20-6f924dc47dff","version":6},"uri":"https://api.notifications.service.gov.uk/v2/notifications/b6c572fa-7c69-401f-860d-486b575cdb90"}

        '
  recorded_at: Fri, 07 Mar 2025 15:05:56 GMT
recorded_with: VCR 6.3.1
