---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"morgan_schultz@macejkovic.example","template_id":"90aef20a-0d44-4b06-8a99-b0afbcdaa406","personalisation":{"first_name":"Erin","last_name":"Blanda","account_number":"10014411","sort_code":"60-70-80","payment_due":0,"iban":"IBAN:
        GB23 NWBK 607080 10014411","swiftbic":"SWIFT/BIC: NWBK GB2L","currency":"Sterling","reg_identifier":"WEX0123456"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Erin Blanda\r\n\r\n#Please pay for your waste
        exemption registration \r\n\r\nWe cannot complete your registration without
        this.\r\n\r\n#Pay by bank transfer with these details\r\n\r\nAccount name:
        Environment Agency\r\nAccount number: 10014411\r\nSort code: 60-70-80\r\nPayment
        reference: WEX0123456\r\nPayment due: \u00a30\r\n\r\n#Overseas payments\r\n\r\nIBAN:
        IBAN: GB23 NWBK 607080 10014411\r\nSWIFT / BIC: SWIFT/BIC: NWBK GB2L\r\nCurrency:
        Sterling\r\n\r\n#Email us to confirm you''ve paid \r\n\r\nYou need to include
        these details in your email: \r\n\r\n- your registration number so we can
        match your payment\r\n- the date and amount you paid\r\n- payment reference
        WEX0123456\r\n\r\nEmail us at ea_fsc_ar@gov.sscl.com\r\n\r\nAllow 5 working
        days for your payment to reach us.\r\n\r\nIf you have any questions contact
        the Environment Agency helpline 03708 506506.\r\n\r\nThis is an automated
        email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Payment
        needed for your waste exemption registration"},"id":"37b28562-b8c8-44d8-a1aa-0d05e761536d","reference":null,"scheduled_for":null,"template":{"id":"90aef20a-0d44-4b06-8a99-b0afbcdaa406","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/90aef20a-0d44-4b06-8a99-b0afbcdaa406","version":8},"uri":"https://api.notifications.service.gov.uk/v2/notifications/37b28562-b8c8-44d8-a1aa-0d05e761536d"}

        '
  recorded_at: Mon, 24 Feb 2025 18:14:45 GMT
recorded_with: VCR 6.3.1
