---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"b614d958-8e85-4168-8e20-6f924dc47dff","personalisation":{"reference":"WEX000001","first_name":"Elida","last_name":"Cummings","account_number":"10014411","sort_code":"60-70-80","payment_due":"0.00","iban":"IBAN:
        GB23 NWBK 607080 10014411","swiftbic":"SWIFT/BIC: NWBK GB2L","currency":"Sterling","reg_identifier":"WEX000001","address_line_1":"Elida
        Cummings","address_line_2":"University Place","address_line_3":"2546 Isiah
        Crossroad","address_line_4":"South Georgia and the South Sandwich Islands","address_line_5":"East
        Thanh","address_line_6":"BS 3AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"ValidationError","message":"Last line of address
        must be a real UK postcode or another country"}],"status_code":400}

        '
  recorded_at: Fri, 07 Mar 2025 15:27:13 GMT
recorded_with: VCR 6.3.1
