---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"ellamae@hansen-rutherford.test","template_id":"09320726-38c6-4989-a831-17c7d4ff37db","personalisation":{"reference":"WEX0123456","contact_name":"Percy
        Morar","site_details":["Grid reference: ST 58337 72855","Site details: Qui
        et incidunt laborum."],"magic_link_url":"/waste_exemptions_engine/renew/TvbmPPnmiVYZVemtXv3j3rC4","exemptions":["U10
        Velit aut libero nam.","U9 Ut esse voluptas explicabo.","U8 Laborum quasi
        voluptatem culpa.","U7 Totam autem doloremque illum.","U6 Libero consectetur
        maiores eos.","U5 Dolor nobis repellat consequatur.","U4 Tempore iusto assumenda
        aliquid.","U3 Ex mollitia sit vero.","U2 Et architecto id nemo.","U1 Sed laudantium
        hic quis."]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 573012a6-7424-4e86-4f4e-75828900c8fd
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Percy Morar\r\n\r\n#Deregister your waste
        exemptions and update your contact details before your renewal date\r\n\r\nYou
        should only hold an exemption for a waste activity you are carrying out. You
        do not usually need to register exemptions for storing waste you have produced.\r\n\r\nYou
        can deregister some, or all of your exemptions using the link in this email,
        this is free. Changing your exemptions will not extend your registration period.[...]
