---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"81cae4bd-9f4c-4e14-bf3c-44573cee4f5b","personalisation":{"reference":"WEX000009","date_registered":"18
        July 2022","applicant_name":"Kristle Pfeffer","applicant_email":null,"applicant_phone":"01234567890","business_details":["Business
        or organisation type: Limited company","Registered name of the company: Schmeler
        and Sons","Registration number of the company: 09360070","Registered address
        of the company: Grant-Kerluke, 10604, 61087 Morissette Burgs, North, Keeblerport,
        BS1 5AH"],"contact_name":"Clyde Wyman","contact_details":["Name: Clyde Wyman","Position:
        scientist","Telephone: 01234567890","Email: "],"site_details":["Grid reference:
        ST 58337 72855","Site details: Et corporis odit voluptates."],"exemption_details":["U11:
        Id repellendus atque illum. – Expires on 17 July 2025","U12: Sint hic saepe
        est. – Expires on 17 July 2025","U13: Animi voluptas et accusamus. – Expires
        on 17 July 2025"],"deregistered_exemption_details":[],"show_deregistered_exemption_details":false,"address_line_1":"Clyde
        Wyman","address_line_2":"Tromp Group","address_line_3":"15807","address_line_4":"6394
        Augustine Island","address_line_5":"South","address_line_6":"Andersonfurt","address_line_7":"BS1
        5AH"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 73a498e5-2071-4965-750b-5741ecb67f3c
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"BadRequestError","message":"Missing personalisation:
        applicant_email"}],"status_code":400}

'
  recorded_at: Mon, 18 Jul 2022 09:33:01 GMT
recorded_with: VCR 6.1.0
