---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"elliot@von-grant.example","template_id":"09320726-38c6-4989-a831-17c7d4ff37db","personalisation":{"reference":"WEX0123456","contact_name":"Florence
        Schultz","site_details":["Grid reference: ST 58337 72855","Site details: Itaque
        doloremque voluptatibus fugiat."],"magic_link_url":"http://localhost:3000/waste_exemptions_engine/edit/rWiFivTGioee7AdWzTKEJp1J","exemptions":["U10
        Necessitatibus quas dignissimos corrupti.","U9 Cumque voluptatum neque nihil.","U8
        Enim laboriosam nulla eum.","U7 Laborum reprehenderit labore aut.","U6 Aut
        quos cumque natus.","U5 Iste odit nihil vel.","U4 Consequatur ut ut atque.","U3
        Cum officiis qui delectus.","U2 Quos et numquam ut.","U1 Harum assumenda ut
        et."]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - f51ddbfa-91fd-4e81-76f0-6b80b2517fba
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Florence Schultz\r\n\r\n#Deregister your waste
        exemptions and update your contact details before your renewal date\r\n\r\nYou
        should only hold an exemption for a waste activity you are carrying out. You
        do not usually need to register exemptions for storing waste you have produced.\r\n\r\nYou
        can deregister some, or all of your exemptions using the link in this email,
        this is free. Changing your exemptions will not extend your registration pe[...]
