---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"joey_white@example.net","template_id":"5426314f-98ef-419e-a66e-9522ba03f362","personalisation":{"reference":"WEX0123456","exemptions":[{"id":1,"state":"active","registered_on":"2023-02-10","expires_on":"2026-02-10","registration_id":1,"exemption_id":1,"created_at":"2023-02-10T16:59:55.863Z","updated_at":"2023-02-10T16:59:55.863Z","deregistration_message":null,"deregistered_at":null},{"id":2,"state":"active","registered_on":"2023-02-10","expires_on":"2026-02-10","registration_id":1,"exemption_id":2,"created_at":"2023-02-10T16:59:55.866Z","updated_at":"2023-02-10T16:59:55.866Z","deregistration_message":null,"deregistered_at":null},{"id":3,"state":"active","registered_on":"2023-02-10","expires_on":"2026-02-10","registration_id":1,"exemption_id":3,"created_at":"2023-02-10T16:59:55.867Z","updated_at":"2023-02-10T16:59:55.867Z","deregistration_message":null,"deregistered_at[...]
