---
http_interactions:
- request:
    method: get
    uri: https://environment.data.gov.uk/spatialdata/administrative-boundaries-environment-agency-and-natural-england-public-face-areas/wfs?Filter=(%3CFilter%3E%3CIntersects%3E%3CPropertyName%3ESHAPE%3C/PropertyName%3E%3Cgml:Point%3E%3Cgml:coordinates%3E358337.0,172855.0%3C/gml:coordinates%3E%3C/gml:Point%3E%3C/Intersects%3E%3C/Filter%3E)&REQUEST=GetFeature&SERVICE=WFS&SRSName=EPSG:27700&VERSION=1.0.0&propertyName=area_id,area_name,code,long_name,short_name&typeName=ms:Administrative_Boundaries_Environment_Agency_and_Natural_England_Public_Face_Areas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <wfs:FeatureCollection xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:ms="https://environment.data.gov.uk/spatialdata/administrative-boundaries-environment-agency-and-natural-england-public-face-areas/wfs" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wfs http://schemas.opengis.net/wfs/1.0.0/WFS-basic.xsd http://www.opengis.net/gml http://schemas.opengis.net/gml/2.1.2/feature.xsd https://environment.data.gov.uk/spatialdata/administrative-boundaries-environment-agency-and-natural-england-public-face-areas/wfs https://environment.data.gov.uk/spatialdata/administrative-boundaries-environment-agency-and-natural-england-public-face-areas/wfs?service=wfs%26version=1.0.0%26request=DescribeFeatureType">
        <gml:boundedBy>
          <gml:Box srsName="EPSG:27700">
            <gml:coordinates>0,0,0,0</gml:coordinates>
          </gml:Box>
        </gml:boundedBy>
          <gml:featureMember>
            <ms:Administrative_Boundaries_Environment_Agency_and_Natural_England_Public_Face_Areas fid="Administrative_Boundaries_Environment_Agency_and_Natural_England_Public_Face_Areas.15">
              <ms:OBJECTID>15</ms:OBJECTID>
              <ms:long_name>Wessex</ms:long_name>
              <ms:short_name>Wessex</ms:short_name>
              <ms:code>WSX</ms:code>
              <ms:st_area_shape_>11208105093.65494</ms:st_area_shape_>
              <ms:st_perimeter_shape_>903122.4501194651</ms:st_perimeter_shape_>
            </ms:Administrative_Boundaries_Environment_Agency_and_Natural_England_Public_Face_Areas>
          </gml:featureMember>
        </wfs:FeatureCollection>
  recorded_at: Fri, 03 Jan 2020 11:41:15 GMT
recorded_with: VCR 5.0.0
