<%= render("waste_exemptions_engine/shared/back", token: @site_postcode_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "waste_exemptions_engine/shared/site_postcode_form",
        form_object: @site_postcode_form,
        grid_reference_link: site_grid_reference_forms_path(@site_postcode_form.token),
        i18n_scope: "waste_exemptions_engine.site_postcode_forms.new" %>
  </div>
</div>
