<%= render("waste_exemptions_engine/shared/back", token: @multisite_site_grid_reference_form.token) %>

<% content_for :page_title, t("waste_exemptions_engine.multisite_site_grid_reference_forms.new.heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @multisite_site_grid_reference_form do |f| %>
      <%= render partial: "waste_exemptions_engine/shared/error_summary", locals: { f: f } %>

      <%= render partial: "waste_exemptions_engine/shared/site_grid_reference_form_content",
                 locals: {
                   f: f,
                   is_multisite: true,
                   locale_prefix: "waste_exemptions_engine.multisite_site_grid_reference_forms.new",
                   skip_to_address_path: skip_to_address_multisite_site_grid_reference_forms_path(@multisite_site_grid_reference_form.token)
                 } %>
    <% end %>
  </div>
</div>
