<div class="text">
  <h1 class="heading-large">Renewal created</h1>
  <p>A new renewal was created:</p>
  <pre><%= JSON.pretty_generate(@renewal.attributes) %></pre>
  <hr>
  <p>This is a very temporary page for testing RUBY-491 only.</p>
  <div class="form-group">
    <%= link_to "Continue to workflow", new_renewal_start_form_path(@renewal.token), class: "button" %>
  </div>
</div>
