<%= render("waste_exemptions_engine/shared/back", token: @exemptions_summary_form.token) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "waste_exemptions_engine/shared/exemptions_summary_content",
               locals: {
                 form_object: @exemptions_summary_form,
                 is_multisite: false,
                 locale_prefix: "waste_exemptions_engine.exemptions_summary_forms.new"
               } %>
  </div>
</div>
