<h2 class="heading-medium"><%= t(".subheading") %></h2>
<ul class="list list-bullet">
  <% form.registration_exemptions.each do |re| %>
    <li><span class="strong"><%= re.exemption.code %></span> - <%= re.exemption.summary %></li>
  <% end %>
</ul>

<hr>
