<hr>
<h2 class="heading-medium"><%= t(".subheading") %></h2>
<ul class="list list-bullet">
  <li><%= t(".on_a_farm.#{form.on_a_farm}_html") %></li>
  <li><%= t(".is_a_farmer.#{form.is_a_farmer}_html") %></li>
</ul>
