<h2 class="govuk-heading-m">
  <%= t(".subheading") %>
</h2>

<span class="govuk-visually-hidden">
  <%= t(".table_summary") %>
</span>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
<% form.registration_rows.each do |row| %>
  <% template = row[:merged_with] ? "registration_info_line_merged": "registration_info_line" %>
  <%= render partial: "waste_exemptions_engine/shared/data_overview/#{template}", locals: {row: row} %>
<% end %>
</dl>
